# Dependências do Node.js
node_modules/

# Build gerado pelo React
build/

# Logs do npm
npm-debug.log*

# Configurações do VSCode
.vscode/

# Arquivos temporários do sistema
.DS_Store
Thumbs.db

# Configurações locais da Vercel
.vercel/
