.btn{
    background-color: #275924;
    color: white;
    padding: 0.7em 1.2em;
    text-decoration: none;
    transition: .5s;
    cursor: pointer;
    border: none;
}

.btn:hover{
    background-color: rgb(33, 169, 58);

}