.container {
  max-width: 600px;
  margin: 4rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: left;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 1.5rem;
}

p {
  font-size: 1rem;
  color: #555;
  margin: 0.5rem 0;
}

strong {
  color: #111;
}

button {
  margin-top: 2rem;
  display: block;
  padding: 0.6rem 1.2rem;
  border: none;
  background-color: #0c833e;
  color: #fff;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: #209b2c;
}
